/* Variables de colores */
:root {
    --color-primario: #4A90E2;
    --color-secundario: #357ABD;
    --color-fondo: #f5f5f5;
    --color-texto: #333;
    --color-fondo-contenedor: #fff;
    --color-fondo-fila: #f9f9f9;
    --color-fondo-hover: #e0e0e0;
    --color-borde: #ddd;
}

/* Estilos generales */
#abm-content {
    padding: 20px;
}

#abm-content h1, #abm-content h2, #abm-content h3 {
    color: var(--color-primario);
}

/* Formulario */
#productForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#productForm label {
    flex: 0 0 150px;
    font-weight: bold;
}

#productForm input, #productForm select {
    flex: 1;
    padding: 8px;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
    background-color: var(--color-fondo-fila);
}

#productForm button {
    background-color: var(--color-primario);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#productForm button:hover {
    background-color: var(--color-secundario);
}

/* Tablas */
.table-container {
    width: 100%;
    overflow-x: auto;
}

#tratamientosTable, #productTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: auto; /* Permite que las celdas se ajusten al contenido */
}

#tratamientosTable th, #productTable th {
    background-color: var(--color-primario);
    color: white;
    padding: 12px 15px;
    text-align: left;
	white-space: nowrap;
}

#tratamientosTable td, #productTable td {
    background-color: var(--color-fondo-fila);
    padding: 12px 15px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    min-width: 100px; /* Ancho mínimo para las celdas */
}

#tratamientosTable tr:hover td, #productTable tr:hover td {
    background-color: var(--color-fondo-hover);
}

/* Vista previa */
#vistaPrevia {
    background-color: var(--color-fondo-contenedor);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
    #productForm .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    #productForm label {
        margin-bottom: 5px;
    }

    #productForm input, #productForm select {
        width: 100%;
    }
}