/*CERTIFICATED SECTION*/

.certificates {
	display: inline-block;
	background-color: #ffffff;
	color: var(--colorCertificates);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	margin-top: 25px;
    margin-left: 25px;
	max-width: 250px;
	min-width: 230px;
	overflow: hidden;
	text-align: left;
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.certificates *,
.certificates *:before,
.certificates *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.certificates img {
	backface-visibility: hidden;
	max-width: 100%;
	vertical-align: top;
}

.certificates:before,
.certificates:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background-color: var(--mainColor);
	opacity: 0.5;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.certificates:before {
	-webkit-transform: skew(30deg) translateX(-80%);
	transform: skew(30deg) translateX(-80%);
}

.certificates:after {
	-webkit-transform: skew(-30deg) translateX(-70%);
	transform: skew(-30deg) translateX(-70%);
}

.certificates figcaption {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	bottom: 0;
	padding: 25px 40% 25px 20px;
}

.certificates figcaption:before,
.certificates figcaption:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--mainColor);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	content: '';
	opacity: 0.5;
	z-index: -1;
}

.certificates figcaption:before {
	-webkit-transform: skew(30deg) translateX(-100%);
	transform: skew(30deg) translateX(-100%);
}

.certificates figcaption:after {
	-webkit-transform: skew(-30deg) translateX(-90%);
	transform: skew(-30deg) translateX(-90%);
}

.certificates h3,
.certificates p {
	margin: 0;
	opacity: 0;
	letter-spacing: 1px;
}

.certificates h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

.certificates p {
	font-size: 0.9em;
}

.certificates a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.certificates:hover h3,
.certificates.hover h3,
.certificates:hover p,
.certificates.hover p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 0.9;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.certificates:hover:before,
.certificates.hover:before {
	-webkit-transform: skew(30deg) translateX(-20%);
	transform: skew(30deg) translateX(-20%);
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.certificates:hover:after,
.certificates.hover:after {
	-webkit-transform: skew(-30deg) translateX(-10%);
	transform: skew(-30deg) translateX(-10%);
}

.certificates:hover figcaption:before,
.certificates.hover figcaption:before {
	-webkit-transform: skew(30deg) translateX(-40%);
	transform: skew(30deg) translateX(-40%);
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.certificates:hover figcaption:after,
.certificates.hover figcaption:after {
	-webkit-transform: skew(-30deg) translateX(-30%);
	transform: skew(-30deg) translateX(-30%);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}