:root {
  --sombra-caja: 0 4px 8px rgba(0, 0, 0, 0.25);
  --colorLetras: #4A90E2;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-presupuesto {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--sombra-caja);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

/* Encabezado con logo y título */
.encabezado {
    display: flex;
    flex-direction: column;
}

.logo-y-fecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    text-align: left;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.fecha {
    font-size: 16px;
    color: var(--colorLetras);
    font-weight: bold;
}

.titulo-presupuesto {
    font-size: 30px;
    color: var(--colorLetras);
    font-weight: bold;
    text-align: center;
}

/* Bloque de información */
.informacion {
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: var(--sombra-caja);
}

.informacion p {
    margin: 8px 0;
    color: #333;
    font-size: 16px;
}

.informacion i {
    margin-right: 12px;
    color: var(--colorLetras);
    scale: 1.2;
}

/* Tabla de presupuesto */
table {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0 15px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    background-color: #F9F9F9;
    border: none; /* Elimina las líneas divisorias */
}

td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tr {
    box-shadow: var(--sombra-caja);
    background-color: #F9F9F9; /* Color de fondo de las filas */
}

.total {
    font-weight: bold;
    color: var(--colorLetras);
}